
{% import '@ui/macro/pagination.html.twig' as pagination %}
{% import '@ui/macro/table.html.twig' as table %}
{% import '@ui/macro/buttons.html.twig' as buttons %}

{% set definition = grid.definition %}
{% set data = grid.data %}
{% set urlPath = url(null, [], grid.parameters.all ) %}

{% set criteria = null %}

{% if definition.enabledFilters|length > 0 %}
<div class="">
    <div class="">
         <div class="title active">
            <i class="dropdown icon"></i>
            Filters
        </div>
        <div class="content {% if criteria is not null %}active{% endif %}">
             <form method="get" action="{{ urlPath }}" class="ui loadable form">
                <div class="">
                    {% for filter in definition.enabledFilters if filter.enabled %}
                        <div class="tower-filters__field">
                            {{ tower_grid_render_filter(grid, filter) }}
                        </div>
                    {% endfor %}
                    {{ buttons.filter() }}
                </div>
             </form>
        </div>
    </div>
</div>
{% endif %}

<div class="ui segment">
    
    {% if data|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    {{ table.headers(grid, definition) }}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    {{ table.row(grid, definition, row) }}
                {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}
    
    {{ pagination.simple(data) }}

</div>


